      <%# お願い事項ここから %>
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="panel-title">
            <span class="glyphicon glyphicon-warning-sign"></span>
              お願い事項
          </div>
        </div>
        <div class="panel-body">
          おてやわらかにお願いします。
        </div>
      </div>
      <%# お願い事項ここまで %>