<div class="page-header">
  <h1>heart warming message board</h1>
</div>
　    <%# パネルタイトルはトップと編集で分けるため共通のパネルヘッダ・ボディを読み込み %>
 　　　<%= render 'form1' %>
        <span class="glyphicon glyphicon-heart"></span>
          メッセージを<span style="color:#FF69A3">より心温める</span>ものにする
        </div>
      </div>
 　　　<%= render 'form2' %>
