<div class="page-header">
  <h1>heart warming message board</h1>
</div>
  <div class="row">
    <div class="icon col-sm-3 hidden-xs">
      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        <div class="icon-caption">心温めるこれからの<br>メッセージ</div>
    </div>
    <div class="content col-sm-9">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <span class="glyphicon glyphicon-heart"></span>
              メッセージを<span style="color:#FF69A3">より心温める</span>ものにする
            </div>
          </div>
   　    <%= render 'form' %>
  </div> 